@font-face {
    font-family: 'Gudea';
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    src: local('Gudea'), url(https://fonts.gstatic.com/s/gudea/v4/WTDyO8MdshuMhAnoLO0WMw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/gudea/v4/Z6xYy_2MlN1cUISkeodEPA.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gudea';
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    src: local('Gudea Bold'), local('Gudea-Bold'), url(https://fonts.gstatic.com/s/gudea/v4/jayXbUsof2FdMCHG3BRDEPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/gudea/v4/6M2RKly85u67vSsXH0-zqvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gudea';
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    src: local('Gudea Italic'), local('Gudea-Italic'), url(https://fonts.gstatic.com/s/gudea/v4/kvCX_I6neb4EN5z031M87g.woff2) format('woff2'), url(https://fonts.gstatic.com/s/gudea/v4/7K8okIOV072GIwnptze9lg.woff) format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.95);
    font-family: "Gudea", "Open Sans", Helvetica, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.35rem;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0.2rem 0;
    padding: 0;
}

ul, ol {
    padding-left: 2.5rem;
    margin: 0 0 0.75rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

a, a:link, a:visited, a:focus, a:active {
    color: inherit;
}

a:hover, a:focus {
    text-decoration-style: double;
}

header, footer {
    padding: 0.5rem;
    text-align: center;
    background: #f66c00;
    color: rgba(0, 0, 0, 0.70);
    background: #f66c00;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.25);
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
}

header {
    z-index: 1;
    padding: 2rem;
    position: sticky;
    top: 0;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
    font-size: 0.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 0;
}

.infi-test {
    color: rgba(0, 0, 0, 0.70);
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    background: rgba(0, 0, 0, 0.05);
    border: 10px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.infi-test ol {
    margin-top: 1rem;
}

.infi-test ol li:before {
    content: '';
    margin: 0 10px 0 5px;
    background: rgba(0, 0, 0, 0.2);
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
}

.infi-test ol li:hover {
    color: #000;
}

.block {
    position: relative;
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    border: 10px solid rgba(0, 0, 0, 0.0);
    background: #555;
    margin: 0 0.5rem;
}

h2 a,
header a {
    text-decoration: none;
}

h2 a .anchor-hint {
    visibility: hidden;
}

h2:hover a .anchor-hint {
    visibility: visible;
}

.block-anchor-with-offset {
    position: relative;
    top: -200px;
}

.headline {
    padding: 2rem 2rem 1rem 2rem;
    max-width: 40%;
}

.block-image {
    text-align: center;
    margin-top: 1rem;
}

.details-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2em;
    height: 2em;
    opacity: 0.5;
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
}

.details-toggle:hover {
    opacity: 1;
}

.details-toggle:before {
    content: '▲';
}

.view-overview .details-toggle:before {
    content: '▼'
}

.details {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 2rem;
}

.details li:hover {
    color: #fff;
}

.view-overview .details,
.view-overview .block-image {
    display: none;
}

.view-overview .block .headline {
    max-width: none;
}

.view-overview .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0 0.5rem;
}

.view-overview .blocks .block {
    margin: 0;
}

.view-overview .blocks .block:last-child {
    grid-column: 1 / span 2;
}

@media (max-width: 1024px) {
    header, .headline, .details {
        padding: 1rem;
    }

    .details-toggle {
        top: 10px;
        right: 10px;
        width: 1.5em;
        height: 1.5em;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px;
    }

    header p {
        font-size: 0.8rem;
    }

    .infi-test {
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    .infi-test ol {
        padding-left: 1.5rem;
    }

    .headline, .details {
        padding: 0.75rem 0.75rem 0 0.75rem;
    }

    .headline {
        max-width: none;
    }

    .block, .infi-test {
        border-width: 2px;
    }

    .block {
        flex-direction: column;
    }

    .block-image {
        display: none;
    }

    .view-overview .blocks {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .view-overview .blocks .block:last-child {
        grid-column: auto;
    }
}

.block:nth-child(7n + 1), .infi-test ol .topic-gebruikers:before {
    background: #D32F46;
}

.block:nth-child(7n + 2), .infi-test ol .topic-principes:before {
    background: #A73276;
}

.block:nth-child(7n + 3), .infi-test ol .topic-broncode:before {
    background: #684084;
}

.block:nth-child(7n + 4), .infi-test ol .topic-technologie:before {
    background: #31406E;
}

.block:nth-child(7n + 5), .infi-test ol .topic-proces-en-team:before {
    background: #1f3546;
}

.block:nth-child(7n + 6), .infi-test ol .topic-ambacht:before {
    background: #316E6D;
}

.block:nth-child(7n + 7), .infi-test ol .topic-overigen:before {
    background: #6EB542
}
